@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

/* * {
    font-family: 'Poppins', sans-serif;
} */

html {
  background-color: rgb(240, 240, 240);
}

.loginPage {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 25px;
}

#signupLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerArea {
  padding: 0 5px;
  position: relative;
  background: #24c4f4;
  border-radius: 25px;
  margin: 0 auto;
  height: 36px;
  width: 250px;
}

.signupHeader {
  color: white;
}

.inputField {
  margin: 0 0 20px 0;
}

.inputButton {
  background-color: #24c4f4;
  margin: 0 0 20px 0;
  width: 100px;
  height: 30px;
}

.inputButton:hover {
  background-color: #071e85;
  color: white;
}

form {
  width: 100%;
  margin: 0 auto;
}

input {
  margin: 0 10px;
}

.loginError {
  margin: 0 auto;
  width: 250px;
  height: 50px;
  font-weight: bold;
  background-color: rgb(240, 137, 137);
  border-color: red;
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
}

.formComponent {
  margin: 0 auto;
}

@media only screen and (max-width: 470px) {
  .loginPage {
    width: 325px;
    height: 400px;
    margin: 0 auto;
    padding: 25px;
  }

  .formComponent {
    margin: 0 auto;
    width: 325px;
  }

  .inputField {
    width: 300px;
    height: 35px;
  }
}
